/*
Author:		Donny Burnside
Website:	http://www.ginger-ninja.net/
*/

/* Misc. */

* {
	margin:0;
	padding:0;
	}
body {
	font-family:Trebuchet MS, Arial, Helvetica, sans-serif;
	font-size:12px;
	background-color:#393939;
	margin:25px 0 4px 0;
	color:#222222;
	}
img {
	border:0;
	}
p {
	margin-bottom:10px;
	margin-top:3px;
}

/* Structure */

#wrapper {
	width:1024px;
	margin:0 auto;
	}
#header {
	height:100px;
	line-height:100px;
	background-image:url(images/bg-header.gif);
	background-repeat:no-repeat;
	padding-left:15px;
	}
#navigation {
	float:right;
	margin-right:15px;
	}
#content {
	background-color:#fff;
	background-image:url(images/bg-content.gif);
	background-repeat:no-repeat;
	background-position:top center;
	padding:10px 5px;
	min-height: 20em;
	}
#footer {
	text-align:right;
	background-image:url(images/bg-footer.gif);
	background-repeat:no-repeat;
	background-position:top center;
	line-height:24px;
	color:#efefef;
	}

/* Navigation */

#navigation ul {
	list-style-type:none;
	}
#navigation li {
	float:left;
	text-align:center;
	text-transform:lowercase;
	}
#navigation li a {
	display:block;
	height:100px;
	width:75px;
	text-decoration:none;
	color:#ffffff;
	}
#navigation li a:hover {
	color:#222222;
	background:url(images/bg-navigation-hover.gif);
	background-repeat:repeat-x;
	}
#navigation .active {
	color:#222222;
	background:url(images/bg-navigation-hover.gif);
	background-repeat:repeat-x;
	}

/* Headings */

h1 {
	font-size:30px;
	font-weight:normal;
	letter-spacing:-1px;
	}

/* Link Colors */

h1 a {
	color:#fff;
	text-decoration:none;
	}
h1 a:hover {
	color:#fff;
	}

#content a {
	color:#222222;
	text-decoration:underline;
	font-weight:bold;
	}
#content a:hover {
	color:#222222;
	text-decoration:underline;
	}

#footer a {
	color:#ffffff;
	text-decoration:none;
	border-bottom:1px dotted #ffffff;
	}
#footer a:hover {
	color:#ffffff;
}

.leadText {
	padding:10px;
}

.inputText {

}

.helpText {
}

.row {
	margin-bottom: 5px;
}

.linkRow {
	background:lightGrey none repeat scroll 0 0;
	font-size:larger;
	margin:-10px -5px 5px;
	padding-left:5px;
}

.bottomRow {
	margin-top: 11px;
}

.titleText {
	font-size:medium;
	font-weight: bold;
	background: #E0E0E0;
}

.inputArea {
	width:75em;	
	height:10em;
	border:1px solid;
}

.smallInputArea {
	height:4em;
	width:75em;
	border:1px solid;		
}

.inputField {
	min-height:19px;
	width:75em;
	border:1px solid;
}

.reviewField {
	min-height: 10px;
}

.choices {
	
}

.infoText {
	background:lightBlue;
	border:1px solid blue;
	font-size:medium;
	margin-bottom:11px;
	margin-top:11px;
}

.captchaField {
	width: 20em;
	min-height: 19px;
	border: 1px solid;
}

.shortInputField {
	width:14em;	
}
	
.firstCol {
	float:left;
}

.secondCol {
	margin-left: 150px;
}

ol {
	margin-left: 21px;	
}

ul {
	margin-left: 21px;	
}

.helpImg {
	height:16px;
	margin-top:1px;
}

.feedbackPanelERROR {
	color:red;
	font-weight:bold;
}

.paragraph {
	margin-bottom: 1em;
}

.heading-1 {
	font-size:medium;
	margin-bottom:0.5em;
}
