/*
Author:		Donny Burnside
Website:	http://www.ginger-ninja.net/
*/

/* Misc. */

* {
	padding:0;
	}
body {
	font-family:Trebuchet MS, Arial, Helvetica, sans-serif;
	font-size:12px;
	background-color:#C0C0C0;
	margin:0 auto;
	color:#222222;
}
img {
	border:0;
	}
p {
	margin-bottom:10px;
	margin-top:3px;
}

/* Structure */

#wrapper {
	width:1000px;
	margin:0 auto;
	}

#header {
	background:transparent url(images/gradient_top.gif) repeat-x scroll center top;
	border-bottom:10px solid #5D6A70;
	height:102px !important;
	padding-top:18px;
}

.frame {
	background:transparent url(images/bg_all.gif) repeat-y scroll 0 0;
	padding-left:55px;
	padding-right:55px;
	width:1000px !important;
	margin:0 auto;
}

#navigation {
	float:right;
	margin-right:15px;
	}
#content {
	background-color:#fff;
	background-image:url(images/bg-content.gif);
	background-repeat:no-repeat;
	background-position:top center;
	padding:10px 5px;
	min-height: 20em;
	}
#footer2 {
	text-align:right;
	width: 1000px;
	margin:0 auto;
}

/* Navigation */

#navigation ul {
	list-style-type:none;
	}
#navigation li {
	float:left;
	text-align:center;
	text-transform:lowercase;
	}
#navigation li a {
	display:block;
	height:100px;
	width:75px;
	text-decoration:none;
	color:#ffffff;
	}
#navigation li a:hover {
	color:#222222;
	background:url(images/bg-navigation-hover.gif);
	background-repeat:repeat-x;
	}
#navigation .active {
	color:#222222;
	background:url(images/bg-navigation-hover.gif);
	background-repeat:repeat-x;
	}

/* Headings */

h1 {
	font-size:30px;
	font-weight:normal;
	letter-spacing:-1px;
	color:#000000;
}

.headerTitle {
	text-align:right;
	top:-67px;
	width:96%;
	position:relative;
	font-size:x-large;
}

/* Link Colors */

h1 a {
	color:#fff;
	text-decoration:none;
	}
h1 a:hover {
	color:#fff;
	}

#content a {
	color:#222222;
	text-decoration:underline;
	font-weight:bold;
	}
#content a:hover {
	color:#222222;
	text-decoration:underline;
	}

#footer2 a {
	color:#000000;
	text-decoration:none;
	border-bottom:1px dotted #000000;
	}
#footer2 a:hover {
	color:#ffffff;
}

#footer {
	font-family:Helvetica,Arial,Verdana,Sans-serif;
	background:transparent url(images/bg_footer.gif) repeat-x scroll 0 0;
	font-size:11px;
	height:28px !important;
	padding-top:10px;
	text-align:center;
	font-size:12px;
	font-weight:bold;
}

#footer img {
	margin-bottom:3px;
	margin-left:25px;
	margin-right:25px;
}

.leadText {
	padding:10px;
}

.inputText {

}

.helpText {
}

.row {
	margin-bottom: 5px;
}

.linkRow {
	background:#D3D3D3;
	font-size:25px;
	margin:-10px -5px 5px;
	padding-left:5px;
}

.bottomRow {
	margin-top: 11px;
}

.titleText {
	font-size:medium;
	font-weight: bold;
	background: #E0E0E0;
}

.inputArea {
	width:99%;	
	height:10em;
	border:1px solid;
}

.smallInputArea {
	height:4em;
	width:99%;
	border:1px solid;		
}

.inputField {
	min-height:19px;
	width:99%;
	border:1px solid;
}

.reviewField {
	min-height: 10px;
}

.choices {
	margin: 3px;
}

.infoText {
	background: #ADD8E6;
	border:1px solid blue;
	font-size:medium;
	margin-bottom:11px;
}

.infoHeader {
	background:#3A8CBD;
	border:1px solid blue;
	border-bottom: 0px;
	font-size:medium;
	font-weight: bold;
	margin-bottom:0px;
	margin-top:0px;
}

.captchaField {
	width: 20em;
	min-height: 19px;
	border: 1px solid;
}

.shortInputField {
	width:14em;
}
	
.firstCol {
	float:left;
}

.secondCol {
	margin-left: 150px;
}

ol {
	margin-left: 21px;	
}

ul {
	margin-left: 21px;
	margin-bottom: 9px;
	margin-top:9px;
}

.helpImg {
	height:16px;
	margin-top:1px;
}

.feedbackPanelERROR {
	color:red;
	font-weight:bold;
}

.paragraph {
	margin-bottom: 1em;
}

.heading-1 {
	font-size:medium;
	margin-bottom:0.5em;
}

.bioImage {
	max-width: 974px;
}

.uploadedFileText {
	font-weight: bold;	
}

.speakerElement {
	padding: 3px;	
}

.inlineLink {
	font-size:15px;
	padding: 3px;
	background: #ADD8E6;
	border: 1px solid;
	
}

.tagsDivs {
	float:left;
	margin-right:5px;
	min-width:236px;
}

.clearBoth {
	clear: both;	
}

.systemFeedback {
	color:BLUE;
	font-size:large;
}

.feedbackPanelINFO {
	list-style-image:none;
	list-style-type:none;
	margin-left:-10px;
}

div.wupb-progressBar .wupb-border {
	width: 100%;	
}
